@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,600,600i,700,700i');

*{
	font-family: Montserrat;
	font-weight:500;
}

header {
	background-color:#0B3142;
	font-size:60px;
	padding: 1% 0%;
	color:#FFF;
	text-align: center;
}

body {
	margin: 0;
	background-color:#FFFFFF;
}

p {
	font-size:18px;
	color:#000;
	text-align: left;
	margin: 3% 15%;
	width: 70%;
}

#info {
	padding: 1% 20%;
	text-align: center;
	font-size: 18px;
	line-height: 1.5em;
	background-color: #F5F5F5;
}

#caixa {
	padding-top:30px;
	margin: 0 15%;
	width:70%;
	height:auto;
	color:#000;
	font-size:40px;
	font-weight: 400;
	text-align:center;
}


.input {
	 width: 96%;
	 border: none;
	 padding: 2%;
	 background-color:#dcdcdc;
}

textarea{
	resize: none;
}

.button {	
	width: 70%;
	margin: 0 15%;
    background-color: #C14925;
    border: none;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.buttonenviar {
	background-color: #4C6974;
    border: none;
    color: white;
	text-align: right;
	font-size: 16px;
    cursor: pointer;
	padding: 10px 50px;	
}


.button:hover {	
    background-color: #FF4500;
}

.buttonenviar:hover {
	background-color:#6691A1;
}

.opcoes {	
	height:100px;
	font-size:50px;
	color: #fff;
	cursor: pointer;
}

#opcao1, #opcao2, #opcao3,#opcao4 {
	display: inline-block;
	width: 35%;
	height: 100%;
	padding: 10px;
}
#opcao1, #opcao2 {
	padding-bottom: 40px;
}
#opcao3, #opcao4 {
	padding-top: 40px;
}
.amarelo {
	background-color: #FEE016;
}

.vermelho {
	background-color: #CC3333;
}

.verde {
	background-color: #339966;	
}

.azul {
	background-color: #0066CC;	
}

#op12 {
	position: relative;
	top:35px;
}
#op34 {
	position: relative;
	top:70px;
}

#gestalt {	
	font-size:70px;
	font-weight:bold;
	background-color:#fff;
	text-align: center;
	padding: 2%;
	display: inline-block;
	position: relative;
	bottom: 110px;
	color:#000;
}

/*Caixa de Diálogo*/
.popup {
    display: none; /* Hidden by default */
   	position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.popup_content {
    background-color: #fefefe;
    margin: 2% auto; /* 15% from the top and centered */
    /*padding: 20px;*/
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    background-color: #fff;
    color: #000;
}

.info_fase {
	text-align: center;
	margin: 2% auto;
	width: 100%;
}

/* Botão que fecha */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 0.5% 2%;
}

h3 {
	margin: 0;
	color: #fff;
	padding: 0% 5% 2% 5%;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.popup_img {
	margin: 3% 0%;
}

button {
	cursor: pointer;
}
.botao {
	background-color: #C14925;
	color: #fff;
	padding: 1.5%;
	font-size: 20px;
	border-style: none;
	font-style:italic; 
}

.popup_content .botao {
	margin: 3%;
}

.sair_popup {
	margin: 3%;
	background-color: #fff;
	color: #C14925;
	padding: 2%;
	font-size: 20px;
	font-style:italic; 
	border-style: none;
}
.sair_popup:hover {
	text-decoration: underline;
}

.fase {
	margin: 2% 20%;,
	text-align: center;
}

#enunciado {
	margin: 2% 0;
	font-size:16px;
	color:#000;
	text-align:justify;
	font-style: italic;
}

.img_fase {
	margin: 3% 0;
}

.fase .botao {
	margin: 1% 0;
	padding: 1.5% 4%;
}
.input_enigma {
	width: 100%;
	padding: 1%;
	margin: 1% 0%;
}

#enviar_img {
	display: inline-block;
	width: 103%;
}
#enigma_botao {
	width: 38%;
	padding: 1%;
}
#enigma_fotonome {
	width: 58.5%;
	padding: 1%;
}
