*{
	font-family: Montserrat;
	font-weight:500;
}

header {
	background-color:#0B3142;
	font-size:60px;
	padding: 1% 0%;
	color:#FFF;
	text-align: center;
	
}

body {
	background-color:#fff;
}

p {
	font-size:18px;
	color:#000;
	text-align: center;
	margin: 0;
}
#info {
	padding: 2% 10%;
	background-color: #F5F5F5;

}

#caixa {
	margin: 2% 25%;
	background-color:#fff;
	color:#000;
	font-size:30px;
	text-align:center;
}

.button {
	
    background-color: #C14925;
    border: none;
    color: white;

    text-align: center;
    font-size: 16px;
    cursor: pointer;
	

}

.buttonenviar {
	background-color: #4C6974;
    border: none;
    color: white;
	text-align: right;
	font-size: 16px;
    cursor: pointer;
	padding: 10px 50px;
	
}


.button:hover {
	
    background-color: #FF4500;

}

.buttonenviar:hover {
	
		background-color:#6691A1;

}

.opcoes {	
	height:100px;
	font-size:50px;
	color: #fff;
	cursor: pointer;
}

#opcao1, #opcao2, #opcao3,#opcao4 {
	display: inline-block;
	width: 35%;
	height: 100%;
	padding: 10px;
}
#opcao1, #opcao2 {
	padding-bottom: 40px;
}
#opcao3, #opcao4 {
	padding-top: 40px;
}
#opcao1 {
	background-color: #FFFF66;
}

#opcao2 {
	background-color: #CC3333;
}
#opcao3 {
	background-color: #339966;	
}
#opcao4 {
	background-color: #0066CC;	
}
#op12 {
	position: relative;
	top:35px;
}
#op34 {
	position: relative;
	top:70px;
}

#gestalt {	
	font-size:70px;
	font-weight:bold;
	background-color:#fff;
	text-align: center;
	padding: 2%;
	display: inline-block;
	position: relative;
	bottom: 110px;
	color:#000;
}

/*Caixa de Diálogo*/
.popup {
    display: none; /* Hidden by default */
   	position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.popup_content {
    background-color: #fefefe;
    margin: 2% auto; /* 15% from the top and centered */
    /*padding: 20px;*/
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    background-color: #fff;
    color: #000;
}

.info_fase {
	text-align: center;
	margin: 2% auto;
	width: 100%;
}

/* Botão que fecha */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 0.5% 2%;
}
header_popup {
	background-color: #FFFF66;
}

h3 {
	margin: 0;
	color: #fff;
	background-color: #FFFF66;
	padding: 0% 5% 2% 5%;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.popup_img {
	margin: 3% 0%;
}

button {
	cursor: pointer;
}
.botao {
	background-color: #C14925;
	color: #fff;
	padding: 1.5%;
	font-size: 20px;
	border-style: none;
	font-style:italic; 
}

.popup_content .botao {
	margin: 3%;
}

.sair_popup {
	margin: 3%;
	background-color: #fff;
	color: #C14925;
	padding: 2%;
	font-size: 20px;
	font-style:italic; 
	border-style: none;
}
.sair_popup:hover {
	text-decoration: underline;
}

.fase {
	margin: 2% 20%;,
	text-align: center;
}
.input {
	width: 100%;
	height: 200px;
}
#enunciado {
	margin: 2% 0;
	font-size:16px;
	color:#000;
	text-align:justify;
	font-style: italic;
}

#header_palitos {
	background-color: #FFFF66;
}
#header_enigmas {
	background-color: #CC3333;
}
#header_videos {
	background-color: #339966;
}
#header_jogos {
	background-color:  #0066CC;
}

.img_fase {
	margin: 3% 0;
}

.fase .botao {
	margin: 1% 0;
	padding: 1.5% 4%;
}
.input_enigma {
	width: 100%;
	padding: 1%;
	margin: 1% 0%;
}

#enviar_img {
	display: inline-block;
	width: 103%;
}
#enigma_botao {
	width: 38%;
	padding: 1%;
}
#enigma_fotonome {
	width: 58.5%;
	padding: 1%;
}