*{
	font-family: Montserrat;
}

header {
	height:240px;
	width:100%;
	background-color:#0C1036;
	font-size:102px;
	color:#FFF;
	padding-top:30px;
	text-align: center;
}

body {
	background-color:#A4BEC8;
}

#caixa {
	margin-top:-50px;
	padding-top:30px;
	margin-left:15%;
	padding-bottom:50px;
	width:70%;
	height:200%;
	background-color:#B4CAD2;
	color:#FFF;
	font-size:40px;
	text-align:center;
	box-shadow: black 0px 0px 20px;
}

p {
	
	font-size:20px;
	color:#000;
	text-align:left;
	margin-left:11%;
}

.input {
	 
	 border: none;
	 padding: 10px 0px;
	 background-color:#dcdcdc;
}

.button {
    background-color: #C14925;
    border: none;
    color: white;
    padding: 10px 334px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;

}

.button:hover {
    background-color: #FF4500;
}